// Size
$mainFontSize: 16px;
$mainFontWeight: 300;
$mainLineHeight: 140%;

$desktopWidth: 1760px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 380px;

// Main color
$brand-black: #343A45;
$brand-primary:#DDCFC6;
$brand-gray:#59677E;
$brand-white:#FFFFFF;

// Font
$mainFont: "Ubuntu";
$mainFontColor: $brand-black;